/* CSS styles for the Productos HTML file */

/* Overall styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-top: 0;
    color: #333;
}

/* Form styles */
form {
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

form input[type="text"],
form input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Button styles */
button {
    display: flex;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
}

table th,
table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

table th {
    background-color: #f5f5f5;
}

/* Responsive styles */
@media (max-width: 480px) {
    .container {
        max-width: 100%;
        padding: 10px;
    }
}


#txtNombre,
#txtCantidad,
#txtPrecio {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f5f5f5;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
}

#txtNombre:focus,
#txtCantidad:focus,
#txtPrecio:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* Button styles */
button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  #btnRegistrar,
  #btnEliminar,
  #btnModificar {
    display: inline-block;
    margin-left: 220px;
  }
  
  /* Add spacing between buttons */
  #btnRegistrar {
    margin-right: 20px;
  }
  